:root {
--bali-hai-50: #f3f7f8;
--bali-hai-100: #dfe9ee;
--bali-hai-200: #c3d5de;
--bali-hai-300: #9ab8c6;
--bali-hai-400: #80a3b5;
--bali-hai-500: #4d768d;
--bali-hai-600: #436277;
--bali-hai-700: #3b5263;
--bali-hai-800: #364754;
--bali-hai-900: #313d48;
--bali-hai-950: #1d262f;
}