@import '_variables';
@import '_colors';

@font-face {
    font-family: 'BreeSerif';
    src: url('~/assets/fonts/BreeSerif-Regular.ttf') format('truetype');
}

h1, h2, h3, h4 {
    font-family: 'BreeSerif', serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    flex-shrink: 0;
}

#__nuxt {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  min-height: 200px;
}


/*Easy Data Table Component*/
/*Add class customize_table for dark theme adjustment*/
.customize_table {
  .item.button.active {
    background-color: var(--primary-500)!important;
    border-color: var(--primary-500)!important;
    border: none!important;
  }
}
html[data-theme="avefi_dark"] .customize_table {
  --easy-table-border: 1px solid #445269;
  --easy-table-row-border: 1px solid #445269;

  --easy-table-header-font-color: #c1cad4;
  --easy-table-header-background-color: #2d3a4f;

  --easy-table-body-even-row-font-color: #fff;
  --easy-table-body-even-row-background-color: var(--slate-900);

  --easy-table-body-row-font-color: #fff;
  --easy-table-body-row-background-color: var(--slate-800);

  --easy-table-body-row-hover-font-color: #efefef;
  --easy-table-body-row-hover-background-color: var(--slate-950);

  --easy-table-footer-background-color: #2d3a4f;
  --easy-table-footer-font-color: #c0c7d2;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;
  --easy-table-rows-per-page-selector-z-index: 1;

  --easy-table-scrollbar-track-color: #2d3a4f;
  --easy-table-scrollbar-color: #2d3a4f;
  --easy-table-scrollbar-thumb-color: #4c5d7a;;
  --easy-table-scrollbar-corner-color: #2d3a4f;

  --easy-table-loading-mask-background-color: #2d3a4f;
}